   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/04/2023
      Filename: banner.ejs
   -->
<header>
    <a href="/"><img id="banner" src="images/logo.jpg" alt="Banner"></a>
</header>