   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/04/2023
      Filename: contact.ejs
   -->
</div>
<hr>
<h6 class="footer">&copy;&nbsp;&nbsp;Copyright: Kam Fai, Ma | Student #:301276248 | COMP229 2023 Summer | Assignment 1 Express Porfolio Site<br><br>
</h6>
<hr>
</body>
</html>