       <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/04/2023
      Filename: navbar.ejs
   -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About Me</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="contact">Contact Me</a></li>
        <li><a href="business_contact">Business Contact</a></li>
      </ul>
    </nav>