/*Author: Kam Fai, Ma
Student ID: 301276248
Date:   06/04/2023
Filename: style.css */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #848282;
}

#allPage {
  background-color: #fff;
  width: 980px;
  margin-left: auto;
  margin-right:auto;
  display: grid;
  grid-template-areas:
  'header header'
  'nav name'
  'nav main';
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 0.5fr 0.5fr 6fr;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  grid-area: header;
  background-color: #fff;
}
#banner {
  float: left;
  width: 25%;
  display: block;
  padding:20px;
}

h1 {
  grid-area: name;
  text-align: center;
  padding: 20px;
  background-color: #699ABD;
  color: white;
  display: block;
  margin: 0;
  height: 40px;
} 

.sub {
  font-size: larger;
}
figure {
  border:1px #cccccc solid;
  padding: 4px;
  margin: auto;
  background-color: white;
}
figcaption {
  background-color: black;
  color: white;
  font-style:italic;
  padding: 2px;
  text-align: center;
  font-size: larger;
}
.cen{
  text-align: center;
  font-size: large;
}
.buttonContainer{
  margin: 50px;
  display: block;
  text-align: center;
}
#buttonAbout, #buttonResume{
  background-color: #699ABD;
  color: white;
  font-size: larger;
  border-radius: 10px;

}
nav {
  grid-area: nav;
  width: 150px;
  padding:60px 0px 0px;
  background-color: #699ABD;
}

nav ul li {
  color:white;
  padding: 10px;
  display: inline-block;
}

nav a:link, a:visited  {
  text-decoration: none;
  color: white;
}

fieldset {
  margin: 10px 5px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #666666;
  padding:6px;
}
legend {
  font-weight: bold;
  font-variant: small-caps;
  text-transform: capitalize;
  font-size: large;
}
label {
  width:250px;
  float: left;
  text-align: left;
  margin-bottom: 5px;
}

figure {
  border:1px #cccccc;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  width:220px;
  background-color: white;
}
#myphoto {
  width: 200px;
}
figcaption {
  background-color: black;
  color: white;
  font-style:italic;
  padding: 2px;
  text-align: center;
}

table {
padding:0px 5px 0px;
width: 100%;
}

table th {
  background-color:#546e79 ;
  color:white;
  vertical-align:middle;
  height: 30px;
}

.projectHeader{
  width: 60%;
}

.projectTitle{
  font-weight: bold;
}

table td{
  padding:5px;
  vertical-align: top;
  border-bottom:1px solid;
  text-align:center;
}

.projectImage{
  padding: 20px;
  transition: 0.5s;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.projectImage:hover{
  transform: scale(1.8);
}

.footer{
  color: white;
}

#edit #delete{
  width: 50px;
}