<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="allPage">
    <%- include('partials/banner') %>
    <%- include('partials/navbar') %>
    <h1><%= title %></h1>
    <main>
    <p>I am currently in my 3rd semester of the Software Engineering Technician program at Centennial College. With a background as a pharmacist in Hong Kong for over 8 years, I have a strong desire to apply my software engineering knowledge to the medical field. </p>
    <p>Mission Statement</p>
    <p>Witnessing the potential of technology in revolutionizing healthcare during my pharmacy career, I'm passionate about bridging the gap between these two domains.</p>
    </main>
  </div>
  </body>
</html>