<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li>Home</li>
        <li>About Me</li>
        <li>Project</li>
        <li>Service</li>
        <li>Contact Me</li>
      </ul>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
