<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="allPage">
    <%- include('partials/banner') %>
    <%- include('partials/navbar') %>
    <h1><%= title %></h1>
    <main>
      <table>
        <thead>
          <th>Service</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><img src="images/Project1.jpg" width ="250"></td>
            <td>Front-End Design</td>
          </tr>
          <tr>
            <td><img src="images/Project2.jpg" width ="250"></td>
            <td>Front-End Design</td>
          </tr>
          <tr>
            <td><img src="images/Project3.jpg" width ="250"></td>
            <td>Database</td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
  </body>
</html>